// ----- Assets -----
// Fonts - Inter & Poppins
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=Poppins:wght@400;500;600;700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Poppins", "Inter", -apple-system, BlinkMacSystemFont, Segoe UI,
    Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue,
    sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  transition: background-color 0.3s;
  margin: 0;
  padding: 0;
}

button {
  outline: none;
  font: inherit;
  border: none;
  background: none;
  cursor: pointer;
  transition: all 0.2s ease-in-out;

  &:hover {
    filter: brightness(120%);
  }
}

ul,
li {
  list-style-type: none;
}

fieldset {
  border: none;
}

.shortcut {
  display: flex;
  align-items: space-between;
  gap: 1px;

  kbd {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0px 5px;
    gap: 10px;

    background: rgba(179,179,179,0.4);
    border-radius: 5px;

    font-family: "Poppins";
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 20px;
    letter-spacing: -0.04em;
  }
}

.underline {
  text-decoration: underline;
}

hr {
  border: none;
  border-top: 1.5px solid var(--color-tertiary-light);
  margin: 18px 0;
}

.form-group {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  margin: 18px 0;
  width: 100%;

  .form-item {
    width: 100%;

    &>*:not(label) {
      padding: 10px 0;
      width: 100%;
    }

    label {
      font-family: "Poppins";
      display: block;
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 21px;
      color: var(--color-foreground);

      &.file {
        background: var(--color-tertiary-light);
        border: 1.5px dashed rgba(146, 145, 152, 0.5);
        border-radius: 10px;
        padding: 10px;
        width: 100%;

        display: flex;
        align-items: center;
        justify-content: center;
        // flex-direction: column;
        gap: 12px;

        cursor: pointer;

        &.active {
          filter: brightness(130%);
          border-color: var(--color-primary);
        }
        .detail {
          flex-grow: 1;
        }

        .title {
          font-weight: 500;
          font-size: 16px;
          line-height: 24px;
          text-align: center;

          color: var(--color-foreground);
        }

        .subtitle {
          font-weight: 500;
          font-size: 13px;
          line-height: 16px;
          text-align: center;

          color: var(--color-tertiary);
        }
      }
    }

    input[type="text"],
    input[type="number"] {
      padding: 10px 16px;
      width: 100%;
      border: none;

      font-family: "Poppins";
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 21px;

      background: var(--color-tertiary-light);
      color: var(--color-foreground);
      margin: 8px 0;
      border-radius: 10px;

      &::placeholder,
      &:disabled {
        color: var(--color-tertiary);
      }

      &:focus {
        outline: 1.5px solid var(--color-primary);
      }
    }
  }
}

.ctaBtn {
  letter-spacing: 0;
  font-weight: 600;
  font-size: 13px;
  display: flex;
  align-items: center;
  font-weight: 600 !important;
  justify-content: space-between;
  padding: 10px 20px;
  background-color: var(--color-foreground);
  color: var(--color-background);
  border-radius: 100px;
  transition: all 0.2s ease-in-out;

  font-weight: 500;
  text-transform: uppercase;

  &.outline {
    background-color: transparent;
    color: var(--color-foreground);
    border: 1px solid var(--color-tertiary-light);
  }

  &:hover {
    filter: brightness(90%);
  }
}

.perspective {
  perspective: 1200px;
}


.accordion {
  .accordionHeading {
    position: relative;
  
    .accordionButton {
      background-color: var(--color-tertiary-light);
      color: var(--color-foreground);
      cursor: pointer;
      padding: 18px;
      width: 100%;
      text-align: left;
      border: none;
  
      &::before {
        position: absolute;
        right: 10px;
        top: 25px;
        display: inline-block;
        content: '';
        height: 10px;
        width: 10px;
        margin-right: 12px;
        border-bottom: 2px solid currentColor;
        border-right: 2px solid currentColor;
        -webkit-transform: rotate(-45deg);
        -moz-transform: rotate(-45deg);
        transform: rotate(-45deg);
      }
      &[aria-expanded='true']::before {
        -webkit-transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        transform: rotate(45deg);
      }
    }
  }
  .accordionItemPanel {
    padding: 20px;
  }
}

.toggle-button {
  display: flex;
  border-radius: 10px;
  overflow: hidden;
  margin-top: 10px;

  .toggle-item {
    padding: 5px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    font-size: 12pt;
    width: 50%;
    background-color: var(--color-tertiary);
    color: black;
    cursor: pointer;

    &.selected {
      background-color: var(--color-secondary);
      color: white;
    }
  }
}